{% extends "layout.html" %}


{% block main%}

        <div class="main-upper my 5">
            <div class="container">
              <div class="row gx-5" >
                <div class="col-lg-7" >
                    <h1 class="mt-4"><b>ANDROMEDA</b></h1>
                    <h5><img src="/static/english.png" class="img-fluid" alt="english" width="30" height="20"> Andromeda
                        <img src="/static/german.png" class="img-fluid" alt="german" width="30" height="20"> Andromeda
                        <img src="/static/hungarian.png" class="img-fluid" alt="hungarian" width="30" height="20"> Andromeda </h5>

                        <br>
                        <p class="text-justify">
                            Located in the northern celestial hemisphere, the constellation Andromeda is named after a greek mythological figure, Andromeda.
                            She is the daughter of the Ethiopian queen, Cassiopeia, and according to the myth she was chained to a rock to be eaten by the sea monster Cetus.
                            The constellation is best visible in the northern hemisphere during the autumn, along with other constellations of the Andromeda-myth, like Cassiopeia, Pegasus and Perseus.
                            Andromeda is only visible north of 40° south latitude.
                        </p>

                        <p class="text-justify mb-5">
                            Alltough the constellation appeared in other star lores, it has its roots most firmly in the Greek tradition. In the Greco-roman myth <a href="/cassiopeia">Cassiopeia</a>,
                            the queen of Ethiopia bragged that her daughter was more beautiful, than the sea nymph Nereids, who were famous for their beauties. Offended by this, the sea god Posseidon sent
                            the monster Cetus to attack Ethiopia. Andromeda's father, <a href="/cepheus">Cepheus</a> was forced to sacrifice her daughter to save Ethiopia, and Andromeda was chained to a rock by the sea. But she
                            was saved by <a href="/perseus">Perseus</a>, who arrived on his winged horse, Pegasus, and turned Cetus to stone with the head of Medusa.
                            <br>

                        </p>

                </div>
                <div class="col-lg-5 mb-3">
                    <a href="/static/Andromeda.PNG" target="_blank"><img src="/static/Andromeda.PNG" class="img-fluid mt-5 ml-5" alt="Andromeda" ></a>
                    <figcaption>Chart created with Stellarium 0.18.2</figcaption>
                </div>
               </div>

            </div>
          </div>
            <div class="separator"></div>
            <div class="main-lower">
            <div class="container">
               <div class="row justify-content-center">
                <div class="col-md-10">
                  <div class="objects-title mt-5 mb-3 border-bottom">
                    <h3><b>Most notable stars and deep-sky objects</b></h3>
                </div>
                <div class="objects-text">
                    <br>
                    <h5><b>Andromeda Galaxy (M31)<img src="/static/eye2.png" alt="eye" width="40" height="40"><img src="/static/binocular2.png" alt="binocular" width="30" height="30"><img src="/static/camera.png" alt="camera" width="40" height="40"></b></h5>
                    <p>
                        The Andromeda Galaxy the closest major galaxy to the Milky Way, lying approx. 2.5 million light years from Earth. It was first thought to be a nebula, and was catalogised
                        by Charles Messier in the 18th century, but it was later discovered to be a galaxy. It is bigger than the Milky Way with a diameter
                        of 152.000 light years, consising of roughly 200 billion stars. It has two satellite galaxies, M32 and M110. It is also the farthest deep-sky object
                        which we can see from under dark sky with the naked eye.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>Gamma Andromedae  <img src="/static/binocular2.png" alt="binocular" width="30" height="30"><img src="/static/telescope2.png" alt="telescope" width="40" height="40"></b></h5>
                    <p>
                        The third brightest star in the constellation is actually a multiple star system, consisting of four stars, approximately 350 light years away from Earth.
                        The brightest member of the star system is called Almach, and its companion star, Gamma Andromedae B was later discovered to be a triple star system.

                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>NGC 752  <img src="/static/binocular2.png" alt="binocular" width="30" height="30"></b></h5>
                    <p>
                        This open cluster can be relatively easily found due to its bright stars near Gamma Andromedae. As it is large in size, it can be best observed with binoculars.
                    </p>
                </div>

                <div class="legend mb-4">
                    <br><div class="legend-title"><b>Legend: </b></div><br>
                        <table>
                            <tr>
                                <td><div class="legend-img"><img src="/static/eye2.png" alt="eye" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with the naked eye</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/binocular2.png" alt="binocular" width="20" height="20"></div></td>
                                <td><div class="legend-item">Visible with binoculars</div></td>
                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/telescope2.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with telescope</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/camera.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Popular target for astrophotography</div></td>

                            </tr>
                        </table>
                    </div>
               </div>
            </div>
          </div>
{% endblock %}