{% extends "layout.html" %}


{% block main%}

        <div class="main-upper my 5">
            <div class="container">
              <div class="row gx-5" >
                <div class="col-lg-7" >
                    <h1 class="mt-4"><b>CASSIOPEIA</b></h1>
                    <h5><img src="/static/english.png" class="img-fluid" alt="english" width="30" height="20"> Cassiopeia
                        <img src="/static/german.png" class="img-fluid" alt="german" width="30" height="20"> Kassiopeia
                        <img src="/static/hungarian.png" class="img-fluid" alt="hungarian" width="30" height="20"> Kassziopeia </h5>

                        <br>
                        <p class="text-justify">
                            Cassiopeia is a constellation in the northern celestial hemisphere named after the greek mythological figure Cassiopeia, the mother of <a href="/andromeda">Andromeda</a>. Cassiopeia is
                            visible during the whole year from latitudes above 34°N but it can be seen at its clearest from September to early November. It can be easily
                            recognised que to its distinctive "W" shape, formed by the five brightest stars of the constellation.
                            Many deep-sky objects, like open clusters and nebulae of various types can be found in Cassiopeia due to its position on the plane of the Milky Way.
                        </p>

                        <p class="text-justify mb-5">
                            In the Greco-roman mythology Cassiopeia was the wife of King <a href="/cepheus">Cepheus</a> of Ethiopia. She bragged about her daughter's beauty, and according to the legend she was placed
                            in the sky as a punishment from Poseidon. She was forced to circle around the north celestial pole on her throne (portayed by the "W" shape), sometimes upside down
                            clinging to it, so as she does not fall off.
                            <br>
                            The Greco-roman myth was also taken over by the Arabs, but it was also called "Kneeling Camel". In Persia, the constellation was drawn as a queen holding a staff with a crescent moon in her right hand.
                            It also appeared in Native American, Chinese and Hindu legends among others.
                        </p>

                </div>
                <div class="col-lg-5 mb-3">
                    <a href="/static/Cassiopeia.PNG" target="_blank"><img src="/static/Cassiopeia.PNG" class="img-fluid mt-5 ml-5" alt="Cassiopeia" ></a>
                    <figcaption>Chart created with Stellarium 0.18.2</figcaption>
                </div>
               </div>

            </div>
          </div>
            <div class="separator"></div>
            <div class="main-lower">
            <div class="container">
               <div class="row justify-content-center">
                <div class="col-md-10">
                  <div class="objects-title mt-5 mb-3 border-bottom">
                    <h3><b>Most notable stars and deep-sky objects</b></h3>
                </div>
                <div class="objects-text">
                    <br>
                    <h5><b>Gamma Cassiopeiae<img src="/static/eye2.png" alt="eye" width="40" height="40"><img src="/static/binocular2.png" alt="binocular" width="30" height="30"><img src="/static/camera.png" alt="camera" width="40" height="40"></b></h5>
                    <p>
                        Gamma Cassiopeiae (sometimes also called Navi) lies in the middle of the "W", and it is the third brightest star in the constellation, however its brightness varies in irregular intervals.
                        It is located roughly 550 light years away from Earth, and it is also a multiple star system. The nebulae IC59 and IC63 surrounding the star can only be captured with photograpic tools and makes it a popular target
                        for astrophotography.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>M52  <img src="/static/binocular2.png" alt="binocular" width="30" height="30"><img src="/static/telescope2.png" alt="telescope" width="40" height="40"></b></h5>
                    <p>
                        M52 is one of the richest open clusters of the northern sky, which also can be spotted with binoculars under a dark sky.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>Dragonfly Nebula (Owl Nebula, NGC 457)<img src="/static/telescope2.png" alt="telescope" width="40" height="40"><img src="/static/camera.png" alt="camera" width="40" height="40"></b></h5>
                    <p>
                        NGC 457 is an open cluster, which lies approx. 7.900 light years away. It is sometimes referred to as Owl or Dragonfly Cluster due to its resemblance to these animals.
                        It is also an easy yet spectacular target for astrophotographers.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>Heart Nebula (IC 1805) and Soul Nebula (IC 1848)<img src="/static/camera.png" alt="camera" width="40" height="40"></b></h5>
                    <p>
                        The Heart Nebula and its close neighbour, the Soul Nebula are both emission nebulae, consisting of ionized hydrogen gas and dark interstellar dust.
                        They are star formation sites and also contain several open clusters. However the emission part of these nebulae are not visible to the naked eye,
                        and can only be captured with photographic tools.
                    </p>
                </div>

                <div class="legend mb-4">
                    <br><div class="legend-title"><b>Legend: </b></div><br>
                        <table>
                            <tr>
                                <td><div class="legend-img"><img src="/static/eye2.png" alt="eye" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with the naked eye</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/binocular2.png" alt="binocular" width="20" height="20"></div></td>
                                <td><div class="legend-item">Visible with binoculars</div></td>
                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/telescope2.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with telescope</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/camera.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Popular target for astrophotography</div></td>

                            </tr>
                        </table>
                    </div>
               </div>
            </div>
          </div>
{% endblock %}