{% extends "layout.html" %}


{% block main%}

        <div class="main-upper my 5">
            <div class="container">
              <div class="row gx-5" >
                <div class="col-lg-7" >
                    <h1 class="mt-4"><b>CEPHEUS</b></h1>
                    <h5><img src="/static/english.png" class="img-fluid" alt="english" width="30" height="20"> Cepheus
                        <img src="/static/german.png" class="img-fluid" alt="german" width="30" height="20"> Kepheus
                        <img src="/static/hungarian.png" class="img-fluid" alt="hungarian" width="30" height="20"> Kefeusz </h5>

                        <br>
                        <p class="text-justify">
                            Cepheus is a circumpolar constellation in the northern sky (i.e. it can be seen during the whole year), easily recognisable by its distinctive house-like shape.
                            It is named after Cepheus, a king of Ethiopia in the Greek mythology, and it is one of the 48 constellations listed by the 2nd century astronomer, Ptolemy.
                        </p>

                        <p class="text-justify mb-5">
                            According to Greek legends, Cepheus was the king of Ethiopia, the husband of <a href="/cassiopeia">Cassiopeia</a> and the father of <a href="/andromeda">Andromeda</a>.
                            However he didn't play an important role in the Andromeda-myth, he was the one, who tied Andromeda to a rock, so she would be eaten by the sea monster Cetus.
                            Later he was placed in the sky along with Andromeda, Cassiopeia and <a href="/perseus">Perseus</a> as a constellation.
                            <br>
                            The constellation appeared in other cultures' star lore as well. In the Hindu legends it was depicted as Kapi, the monkey-god. The nomadic Arab shepherds
                            called it "Al aghnam" which means lamb. The constellation was also known in ancient Mesopotamia (as part of another constellation) and later in ancient China.
                        </p>

                </div>
                <div class="col-lg-5 mb-3">
                    <a href="/static/Cepheus.PNG" target="_blank"><img src="/static/Cepheus.PNG" class="img-fluid mt-5 ml-5" alt="Cepheus" ></a>
                    <figcaption>Chart created with Stellarium 0.18.2</figcaption>
                </div>
               </div>

            </div>
          </div>
            <div class="separator"></div>
            <div class="main-lower">
            <div class="container">
               <div class="row justify-content-center">
                <div class="col-md-10">
                  <div class="objects-title mt-5 mb-3 border-bottom">
                    <h3><b>Most notable stars and deep-sky objects</b></h3>
                </div>
                <div class="objects-text">
                    <br>
                    <h5><b>Elephant's Trunk Nebula (IC1396)<img src="/static/camera.png" alt="camera" width="40" height="40"></b></h5>
                    <p>
                        The Elephant's Trunk Nebula is a concentration of interstellar gas and dust within the much larger ionized gas region IC 1396, lying about 2.400 light years away from Earth.
                        The nebula is being illuminated and ionized by a very bright, massive star. It is thought to be a site of star formation, containing several very young stars (less than
                        100.000 years old). The nebula's distinctive shapes and forms are only visible on astrophotos, however the open cluster can be observed with telescopes.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>Mu Cephei<img src="/static/eye2.png" alt="eye" width="40" height="40"></b></h5>
                    <p>
                        Mu Cephei is a red supergiant, easily recognisable by its conspicuous deep red color. 18th-century astronomer, William Herschel even named it the Garnet Star after its color.
                        It is a variable star, its brightness varies between 3.4 and 5.1 magnitude in irregular intervals.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>Firework Galaxy (NGC 6946)<img src="/static/telescope2.png" alt="telescope" width="40" height="40"><img src="/static/camera.png" alt="camera" width="40" height="40"></b></h5>
                    <p>
                        NGC 6946, sometimes referred to as the Firework Galaxy, is a spiral galaxy with a small bright central part, discovered by William Herschel in the 18th century.
                        Its distance from Earth is about 25.2 million light years. It is the galaxy with the most discovered supernovae in it.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>Iris Nebula (NGC 7023)<img src="/static/telescope2.png" alt="telescope" width="40" height="40"><img src="/static/camera.png" alt="camera" width="40" height="40"></b></h5>
                    <p>
                        The Iris Nebula is a bright reflection nebula, but the catalog number NGC 7023 itself refers to the open cluster within the nebula.
                        When observed through a telescope, the central cluster surrounded by a haze is clearly visible, but the reflection nebula only shows its true bluish colors on astrophotos.
                    </p>
                </div>
                <div class="legend mb-4">
                    <br><div class="legend-title"><b>Legend: </b></div><br>
                        <table>
                            <tr>
                                <td><div class="legend-img"><img src="/static/eye2.png" alt="eye" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with the naked eye</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/binocular2.png" alt="binocular" width="20" height="20"></div></td>
                                <td><div class="legend-item">Visible with binoculars</div></td>
                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/telescope2.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with telescope</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/camera.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Popular target for astrophotography</div></td>

                            </tr>
                        </table>
                    </div>
               </div>
            </div>
          </div>
{% endblock %}