{% extends "layout.html" %}


{% block main%}

<div class="main-constellations">
    <div class="container">
        <div class="row text-center">
          <div class="col-md-12 mt-4 mb-3">
            <h2>Browse constellations</h2>
          </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-3 mt-3">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/Andromeda.PNG" alt="Andromeda">
                <div class="card-body">
                  <h4 class="card-title mb-3">Andromeda</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: August-December
                    <br>
                    Southern H.: October-November
                  </p>
                  <a href="/andromeda" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
            <div class="col-md-3 mt-3">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/Aquarius.PNG" alt="Aquarius">
                <div class="card-body">
                  <h4 class="card-title mb-3">Aquarius</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: August-November
                    <br>
                    Southern H.: July-November
                  </p>
                  <a href="/aquarius" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
            <div class="col-md-3 mt-3">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/CanisMaior.PNG" alt="Canis Major">
                <div class="card-body">
                  <h4 class="card-title mb-3">Canis Major</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: November-February
                    <br>
                    Southern H.: November-March
                  </p>
                  <a href="/canismajor" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
        </div>

        <div class="row my-5 justify-content-center">
            <div class="col-md-3 mt-3">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/Cassiopeia.PNG" alt="Cassiopeia">
                <div class="card-body">
                  <h4 class="card-title mb-3">Cassiopeia</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: August-December
                    <br>
                    Southern H.: not visible, or only near the horizon
                  </p>
                  <a href="/cassiopeia" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
            <div class="col-md-3 mt-3">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/Cepheus.PNG" alt="Cepheus">
                <div class="card-body">
                  <h4 class="card-title mb-3">Cepheus</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: June-November
                    <br>
                    Southern H.: not visible, or only near the horizon
                  </p>
                  <a href="/cepheus" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
            <div class="col-md-3 mt-3">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/Cygnus.PNG" alt="Cygnus">
                <div class="card-body">
                  <h4 class="card-title mb-3">Cygnus</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: May-September
                    <br>
                    Southern H.: July-August</p>
                  <a href="/cygnus" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
        </div>

        <div class="row my-5 justify-content-center">
            <div class="col-md-3 mt-3">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/Gemini.PNG" alt="Gemini">
                <div class="card-body">
                  <h4 class="card-title mb-3">Gemini</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: November-March
                    <br>
                    Southern H.: December-March
                  </p>
                  <a href="/gemini" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
            <div class="col-md-3 mt-3">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/Hercules.PNG" alt="Hercules">
                <div class="card-body">
                  <h4 class="card-title mb-3">Hercules</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: April-August
                    <br>
                    Southern H.: June-July
                  </p>
                  <a href="/hercules" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
            <div class="col-md-3 mt-3">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/Leo.PNG" alt="Leo">
                <div class="card-body">
                  <h4 class="card-title mb-3">Leo</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: January-May
                    <br>
                    Southern H.: January-April
                  </p>
                  <a href="/leo" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
        </div>

        <div class="row my-5 justify-content-center">
            <div class="col-md-3 mt-3">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/Orion.PNG" alt="Orion">
                <div class="card-body">
                  <h4 class="card-title mb-3">Orion</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: November-February
                    <br>
                    Southern H.: October-January
                  </p>
                  <a href="/orion" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
            <div class="col-md-3 mt-3">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/Perseus.PNG" alt="Perseus">
                <div class="card-body">
                  <h4 class="card-title mb-3">Perseus</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: August-November
                    <br>
                    Southern H.: not visible, or only near the horizon
                  </p>
                  <a href="/perseus" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
            <div class="col-md-3 mt-3">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/Sagittarius.PNG" alt="Sagittarius">
                <div class="card-body">
                  <h4 class="card-title mb-3">Sagittarius</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: June-July
                    <br>
                    Southern H.: May-August
                  </p>
                  <a href="/sagittarius" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-3 mt-3 mb-4">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/Scorpius.PNG" alt="Scorpius">
                <div class="card-body">
                  <h4 class="card-title mb-3">Scorpius</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: May-June
                    <br>
                    Southern H.: March-July
                  </p>
                  <a href="/scorpius" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
            <div class="col-md-3 mt-3 mb-4">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/UrsaMajor.PNG" alt="Ursa Major">
                <div class="card-body">
                  <h4 class="card-title mb-3">Ursa Major</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: December-June
                    <br>
                    Southern H.: not visible, or only near the horizon
                  </p>
                  <a href="/ursamajor" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
            <div class="col-md-3 mt-3 mb-4">
            <div class="card border-dark">
                <img class="card-img-top" src="/static/Virgo.PNG" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title mb-3">Virgo</h4>
                  <p class="card-text">
                    <b>Best visibility: </b>
                    <br>
                    Northern H.: February-April
                    <br>
                    Southern H.: February-May
                  </p>
                  <a href="/virgo" class="btn btn-secondary">Read more</a>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}