{% extends "layout.html" %}


{% block main%}
        <div class="main-upper my 5">
            <div class="container">
              <div class="row gx-5" >
                <div class="col-lg-7" >
                    <h1 class="mt-4"><b>CYGNUS</b></h1>
                    <h5><img src="/static/english.png" class="img-fluid" alt="english" width="30" height="20"> Swan
                        <img src="/static/german.png" class="img-fluid" alt="german" width="30" height="20"> Schwan
                        <img src="/static/hungarian.png" class="img-fluid" alt="hungarian" width="30" height="20"> Hattyú</h5>

                        <br>
                        <p class="text-justify">
                            Cygnus is a northern constellation on the plane of our galaxy, the Milky Way, deriving its name from the Latinized Greek word for swan.
                            Cygnus is one of the most recognizable constellations of summer and autumn in the northern hemisphere, and it is easy to find due to its large size.
                            Many deep-sky objects, like open clusters, nebulae of various types and supernova remnants can be found in Cygnus due to its position on the plane of the Milky Way.
                        </p>

                        <p class="text-justify mb-5">
                            The constellation was already well-known throughout history, and can be found in many mythologies, like in Arabic, Roman or Greek legends,
                            where it was identified first as bird, then later as swan. In Greek mythology, Cygnus has been identified with several different legendary swans.
                            Zeus disguised himself as a swan to seduce Leda, Spartan king Tyndareus's wife, who gave birth to the <a href="/gemini">Gemini</a>, Castor and Pollux.
                            Orpheus was transformed into a swan after his murder, and was said to have been placed in the sky next to his lyre (Lyra).

                            Later Romans also associated this constellation with the tragic story of Phaethon, the son of Helios the sun god, who demanded to ride his father's sun chariot for a day.
                            Phaethon, however, was unable to control the reins, forcing Zeus to destroy the chariot (and Phaethon) with a thunderbolt, causing it to plummet to the earth into the river Eridanus.
                            According to the myth, Phaethon's close friend or lover, Cygnus, grieved bitterly and spent many days diving into the river to collect Phaethon's bones to give him a proper burial.
                            The gods were so touched by Cygnus's devotion that they turned him into a swan and placed him among the stars.
                            <br>Cygnus also appeared in other cultures, like in Hindu and Native American legends, or the mythology of New Zealand and Tonga.
                        </p>

                </div>
                <div class="col-lg-5 mb-3">
                    <a href="/static/Cygnus.PNG" target="_blank"><img src="/static/Cygnus.PNG" class="img-fluid mt-5 ml-5" alt="Cygnus" ></a>
                    <figcaption>Chart created with Stellarium 0.18.2</figcaption>
                </div>
               </div>

            </div>
          </div>
            <div class="separator"></div>
            <div class="main-lower">
            <div class="container">
               <div class="row justify-content-center">
                <div class="col-md-10">
                  <div class="objects-title mt-5 mb-3 border-bottom">
                    <h3><b>Most notable stars and deep-sky objects</b></h3>
                </div>
                <div class="objects-text">
                    <br>
                    <h5><b>Deneb<img src="/static/eye2.png" alt="eye" width="40" height="40"></b></h5>
                    <p class="text-justify">
                        The brigthest star in the constellation and also in the northern sky is called Deneb (deriving its name from the arabic 'al Dnanab al Dajajah', 'the tail of the bird'),
                        which forms the tail of the swan.
                        It is a white supergiant star and it has a mass 25 times and a surface brightness 60.000 times of the Sun. It is located about 2.600 light years away from Earth.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>North America Nebula (NGC 7000)<img src="/static/eye2.png" alt="eye" width="40" height="40"><img src="/static/camera.png" alt="camera" width="40" height="40"></b></h5>
                    <p>
                        The North America Nebula is an emission nebula close to Deneb, consisting mainly of interstellar hydrogen gas.
                        It covers a region more than ten times the area of the full moon, and its shape resembles to the continent of North America.
                        However its surface brightness is low, so it is only visible to the naked eye from under dark skies. It is located about 2.000 light years away from Earth.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>M39  <img src="/static/binocular2.png" alt="binocular" width="30" height="30"></b></h5>
                    <p>
                        Messier 39 is an open cluster consisting of around two dozen stars, which are also physically close to each other in space.
                        The cluster can be best observed with binoculars, but are also visible to the naked eye from under dark skies.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>Veil Nebula (NGC 6960, NGC 6992, NGC 6995)<img src="/static/telescope2.png" alt="telescope" width="40" height="40"><img src="/static/camera.png" alt="camera" width="40" height="40"></b></h5>
                    <p>
                        The Veil Nebula complex is a cloud of heated and ionized gas and dust. It is a remnant of a supernova which exploded between 10.000 and 20.000 years ago.
                        At the time of the explosion, the supernova appeared brighter than Venus, and it was visible during daytime in the sky.
                        The remnants have since expanded to cover a large area of the sky, and the nebula actually consists of three main parts:
                        <ul>
                            <li>The Western Veil (NGC 6960)</li>
                            <li>The Eastern Veil (NGC 6992)</li>
                            <li>Pickering's Triangle</li>
                        </ul>
                    </p>
                </div>
                <div class="legend mb-4">
                    <br><div class="legend-title"><b>Legend: </b></div><br>
                        <table>
                            <tr>
                                <td><div class="legend-img"><img src="/static/eye2.png" alt="eye" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with the naked eye</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/binocular2.png" alt="binocular" width="20" height="20"></div></td>
                                <td><div class="legend-item">Visible with binoculars</div></td>
                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/telescope2.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with telescope</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/camera.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Popular target for astrophotography</div></td>

                            </tr>
                        </table>
                    </div>
               </div>
            </div>
          </div>
{% endblock %}
