{% extends "layout.html" %}


{% block main%}

        <div class="main-upper my 5">
            <div class="container">
              <div class="row gx-5" >
                <div class="col-lg-7" >
                    <h1 class="mt-4"><b>GEMINI</b></h1>
                    <h5><img src="/static/english.png" class="img-fluid" alt="english" width="30" height="20"> Twins
                        <img src="/static/german.png" class="img-fluid" alt="german" width="30" height="20"> Zwillinge
                        <img src="/static/hungarian.png" class="img-fluid" alt="hungarian" width="30" height="20"> Ikrek </h5>

                        <br>
                        <p class="text-justify">
                            Gemini is one of the constellations of the zodiac and is located in the northern celestial hemisphere. It was already known in
                            the ancient times, and was associated with the twins Castor and Pollux in the Greco-Roman mythology.
                            Gemini is prominent in the winter sky of the northern hemisphere and is visible the entire night in December–January.
                            It also hosts the radiant for Geminids, a bright meteor shower that peaks on December 13–14 every year.
                        </p>

                        <p class="text-justify mb-5">
                            The two most prominent stars of the constellation, today called as Castor and Pollux were always regarded as siblings or partners throughout history.
                            In Babylonian astronomy, the stars Castor and Pollux were known as the Great Twins who were regarded as minor gods. In the Greek legend Leda, the wife of Tyndareus was seduced by Zeus in the form of a swan (reference to <a href="/cygnus">Cygnus</a>),
                            who gave birth to the twins Castor and Pollux. Castor was mortal, while Pollux immortal, yet Pollux didn't want to be separated from his twin, when he died in battle.
                            So Zeus gave Castor immortality uniting them in Olympos.
                            <br>

                        </p>

                </div>
                <div class="col-lg-5 mb-3">
                    <a href="/static/Gemini.PNG" target="_blank"><img src="/static/Gemini.PNG" class="img-fluid mt-5 ml-5" alt="Gemini" ></a>
                    <figcaption>Chart created with Stellarium 0.18.2</figcaption>
                </div>
               </div>

            </div>
          </div>
            <div class="separator"></div>
            <div class="main-lower">
            <div class="container">
               <div class="row justify-content-center">
                <div class="col-md-10">
                  <div class="objects-title mt-5 mb-3 border-bottom">
                    <h3><b>Most notable stars and deep-sky objects</b></h3>
                </div>
                <div class="objects-text">
                    <br>
                    <h5><b>Castor<img src="/static/eye2.png" alt="eye" width="40" height="40"><img src="/static/telescope2.png" alt="telescope" width="40" height="40"></b></h5>
                    <p>
                        Castor is actually a multiple star system consisting of six members but only two of its stars are visible through telescope.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>M35 (Shoe-Buckle Cluster)  <img src="/static/binocular2.png" alt="binocular" width="30" height="30"></b></h5>
                    <p>
                        M35 is a relatively close open cluster at a distance of 2.970 light years from Earth. It is already a spectacular sight observed through binoculars
                        or a smaller telescope. Its neighbour, the smaller and fainter NGC 2158 is also an open cluster.

                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>NGC 2420 (Twinkling Comet Cluster)  <img src="/static/binocular2.png" alt="binocular" width="30" height="30"><img src="/static/telescope2.png" alt="telescope" width="40" height="40"></b></h5>
                    <p>
                        NGC 2420 is an open cluster with the apparent magnitude of 8.3. It can be observed with binoculars or smaller telescopes.
                    </p>
                </div>
                <div class="legend mb-4">
                    <br><div class="legend-title"><b>Legend: </b></div><br>
                        <table>
                            <tr>
                                <td><div class="legend-img"><img src="/static/eye2.png" alt="eye" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with the naked eye</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/binocular2.png" alt="binocular" width="20" height="20"></div></td>
                                <td><div class="legend-item">Visible with binoculars</div></td>
                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/telescope2.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with telescope</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/camera.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Popular target for astrophotography</div></td>

                            </tr>
                        </table>
                    </div>
               </div>
            </div>
          </div>
{% endblock %}