{% extends "layout.html" %}


{% block main%}

        <div class="main-upper my 5">
            <div class="container">
              <div class="row gx-5" >
                <div class="col-lg-7" >
                    <h1 class="mt-4"><b>HERCULES</b></h1>
                    <h5><img src="/static/english.png" class="img-fluid" alt="english" width="30" height="20"> Hercules
                        <img src="/static/german.png" class="img-fluid" alt="german" width="30" height="20"> Herkules
                        <img src="/static/hungarian.png" class="img-fluid" alt="hungarian" width="30" height="20"> Herkules </h5>

                        <br>
                        <p class="text-justify">
                            Hercules is a northern constellation named after Hercules, the Roman mythological hero adapted from the Greek hero Heracles. It is one
                            of the best observable summer contellations in the northern hemisphere. Its stars aren't particularly bright, but its four central stars (Epsilon,
                            Zeta, Eta and Pi) form a distinctive quadrangle, that can be easily identified in the sky.
                        </p>

                        <p class="text-justify mb-5">
                            Due to its large size and fainter stars the constellation that we know as Hercules today, was part of many constellations and didn't play a prominent role
                            in the starlore of ancient cultures. It was singificant in the Greco-Roman mythology, where it was named after Heracles, the half-human, half-god hero, the son
                            of Zeus and Alcmene. He was the greatest of the Greek heroes, the ancestor of royal clans, whom the later Roman emperors often identified themselves with.
                            The ancient Greeks even celebrated the festival of the Heracleia for his honor, and many popular stories and songs were told about his life and andventures
                            (the most famous being The Twelve Labours of Heracles).
                            <br>

                        </p>

                </div>
                <div class="col-lg-5 mb-3">
                    <a href="/static/Hercules.PNG" target="_blank"><img src="/static/Hercules.PNG" class="img-fluid mt-5 ml-5" alt="Hercules" ></a>
                    <figcaption>Chart created with Stellarium 0.18.2</figcaption>
                </div>
               </div>

            </div>
          </div>
            <div class="separator"></div>
            <div class="main-lower">
            <div class="container">
               <div class="row justify-content-center">
                <div class="col-md-10">
                  <div class="objects-title mt-5 mb-3 border-bottom">
                    <h3><b>Most notable stars and deep-sky objects</b></h3>
                </div>
                <div class="objects-text">
                    <br>
                    <h5><b>M13 (Great Star Cluster in Hercules)<img src="/static/eye2.png" alt="eye" width="40" height="40"><img src="/static/binocular2.png" alt="binocular" width="30" height="30"><img src="/static/camera.png" alt="camera" width="40" height="40"></b></h5>
                    <p>
                        M13 is a globular cluster containing several hundred thousand stars, which is also visible with the naked eye from under a dark sky.
                        It is often described as the most magnificent globular cluster visible in the northern sky. It is a relatively close globular cluster about 23.000 light years away,
                        that's why it was chosen in 1974 as the target for the first encoded message for extraterrestial civilisations containing information about
                        the human race, DNA, atomic numbers and Earth's position among others.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>M92  <img src="/static/binocular2.png" alt="binocular" width="30" height="30"></b></h5>
                    <p>
                        M92 is a smaller and fainter globular cluster than M13, and it is also one of the galaxy's oldest clusters.
                        It is visible to the naked eye under very good viewing conditions, but it can be best observed with binoculars or small telescopes.

                    </p>
                </div>
                <div class="legend mb-4">
                    <br><div class="legend-title"><b>Legend: </b></div><br>
                        <table>
                            <tr>
                                <td><div class="legend-img"><img src="/static/eye2.png" alt="eye" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with the naked eye</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/binocular2.png" alt="binocular" width="20" height="20"></div></td>
                                <td><div class="legend-item">Visible with binoculars</div></td>
                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/telescope2.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with telescope</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/camera.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Popular target for astrophotography</div></td>

                            </tr>
                        </table>
                    </div>
               </div>
            </div>
          </div>
{% endblock %}