{% extends "layout.html" %}


{% block main%}
        <div class="main-upper my 5">
            <div class="container">
              <div class="row gx-5" >
                <div class="col-lg-7" >
                    <h1 class="mt-4"><b>SAGITTARIUS</b></h1>
                    <h5><img src="/static/english.png" class="img-fluid" alt="english" width="30" height="20"> Archer
                        <img src="/static/german.png" class="img-fluid" alt="german" width="30" height="20"> Schütze
                        <img src="/static/hungarian.png" class="img-fluid" alt="hungarian" width="30" height="20"> Nyilas</h5>

                        <br>
                        <p class="text-justify">
                            Sagittarius is one of the zodiac constellations. It is located in the Southern celestial hemisphere, so it is best visible
                            from the Sourthern Hemisphere, but it can be also seen from some parts of the Northern Hemisphere
                            during the summer months. Its name means "archer" in Latin, and it is commonly represented as a centaur drawing a bow.
                            The center of our galaxy, the Milky Way lies in the western part of the constellation, therefore it is rich in deep-sky objects, such as emission, reflection and dust
                            nebulae and star clusters.
                        </p>

                        <p class="text-justify mb-5">
                            The constellation appears in the mythologies of the ancient world as early as 4000 BC, on the dawn of the Egyptian and Mesopotamian cultures.
                            Findings from this time period include a Mesopotamian border stone depicting the constellation as a half human half horse figure with a bow.
                            This portayal was also present in the Greek and Roman star lore, where Sagittarius represented a half human, half goat being, named Krotos,
                            whose father was the goat-legged Pan, the god of the wild, shepherds and rustic music. The constellation
                            is also one of the 48 constellations listed by the 2nd-century astronomer, Ptolemy.
                            <br>
                            Sagittarius also had its own name in other mythologies, like the Chinese (Azure Dragon), Middle-Eastern (River, Returning ostrich) or the
                            Native American (Swimming Duck in the pawnee culture). It was less significant in the European culture, as it barely rises above the horizon in
                            many, especially northern parts of Europe.

                </div>
                <div class="col-lg-5 mb-3">
                    <a href="/static/Sagittarius.PNG" target="_blank"><img src="/static/Sagittarius.PNG" class="img-fluid mt-5 ml-5" alt="Sagittarius" ></a>
                    <figcaption>Chart created with Stellarium 0.18.2</figcaption>
                </div>
               </div>

            </div>
          </div>
            <div class="separator"></div>
            <div class="main-lower">
            <div class="container">
               <div class="row justify-content-center">
                <div class="col-md-10">
                  <div class="objects-title mt-5 mb-3 border-bottom">
                    <h3><b>Most notable stars and deep-sky objects</b></h3>
                </div>
                <div class="objects-text">
                    <br>
                    <h5><b>M22 (Great Sagittarius Cluster)  <img src="/static/binocular2.png" alt="binocular" width="30" height="30"></b></h5>
                    <p class="text-justify">
                        M22 is a huge globular cluster consisting of hundreds of stars. It is one of the closest to the Earth, as it lies only 10.000 light years away. It can be easily spotted with binoculars, but it shows
                        its true beauty when observed through a telescope.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>M8 (The Lagoon Nebula) <img src="/static/eye2.png" alt="eye" width="40" height="40"><img src="/static/binocular2.png" alt="binocular" width="30" height="30"><img src="/static/camera.png" alt="camera" width="40" height="40"></b></h5>
                    <p>
                        The Lagoon Nebula is an interstellar emission nebula, mainly consisting of hydrogen gas, where new stars and stellar systems are forming.
                        Within the nebula there is also the open cluster NGC 6530. It is one of the only two star-forming nebulae faintly visible to the naked eye from under dark sky from the northern latitudes.
                        Seen with binoculars, it appears as a distinct cloud-like patch. The nebula is between 4.000–6.000 light years away from the Earth.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>M20 (Trifid Nebula)  <img src="/static/binocular2.png" alt="binocular" width="30" height="30"><img src="/static/camera.png" alt="camera" width="40" height="40"></b></h5>
                    <p>
                        This complex object, conisting of both emission and reflection nebulae, as well as interstellar dust and an open cluster of stars, was discovered by Charles Messier in 1764.
                        The name refers to the nebula being divided into three parts by the dust nebula (the name meaning 'three-lobe'). It lies approx. 4.100 light years from Earth.
                        When viewed through a binocular, or a small telescope, the Trifid Nebula is a bright and peculiar object, but it shows its beautiful colors on astrophotos and photographic observations.
                    </p>
                </div>
                <div class="objects-text">
                    <h5><b>M17 (Omega Nebula) <img src="/static/binocular2.png" alt="binocular" width="30" height="30"><img src="/static/camera.png" alt="camera" width="40" height="40"></b></h5>
                    <p>
                        The Omega Nebula, also known as the Swan Nebula or the Horseshoe Nebula is a nebula mainly consisting of hydrogen-alpha, where new stars and stellar systems are forming.
                        It is considered to be one of the brightest and most massive star-forming regions of our galaxy. It is between 5.000 and 6.000 light years from Earth and it spans some 15 light years in diameter.
                        It can be clearly seen with binoculars, and it is a spectacular view when observed through larger telescopes. It is also a popular target among astrophotographers.
                    </p>
                </div>
                <div class="legend mb-4">
                    <br><div class="legend-title"><b>Legend: </b></div><br>
                        <table>
                            <tr>
                                <td><div class="legend-img"><img src="/static/eye2.png" alt="eye" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with the naked eye</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/binocular2.png" alt="binocular" width="20" height="20"></div></td>
                                <td><div class="legend-item">Visible with binoculars</div></td>
                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/telescope2.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with telescope</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/camera.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Popular target for astrophotography</div></td>

                            </tr>
                        </table>
                    </div>
               </div>
            </div>
          </div>
{% endblock %}