{% extends "layout.html" %}


{% block main%}

        <div class="main-upper my 5">
            <div class="container">
              <div class="row gx-5" >
                <div class="col-lg-7" >
                    <h1 class="mt-4"><b>SCORPIUS</b></h1>
                    <h5><img src="/static/english.png" class="img-fluid" alt="english" width="30" height="20"> Scorpion
                        <img src="/static/german.png" class="img-fluid" alt="german" width="30" height="20"> Skorpion
                        <img src="/static/hungarian.png" class="img-fluid" alt="hungarian" width="30" height="20"> Skorpió </h5>

                        <br>
                        <p class="text-justify">
                            Scorpius is a zodiac constellation located in the southern celestial hemisphere, between Libra and Sagittarius. It is near the center of the Milky Way,
                            therefore it is rich in deep-sky objects. It was already known in the ancient times, especially its brightest star, Antares was important as the point of the autumnal equinox
                            was near it in 3000 B.C. The constellation can be best seen in the southern hemisphere and near the equator as from the most parts of the northern hemisphere it stays near the horizon.
                        </p>

                        <p class="text-justify mb-5">
                            Due to its importance it was among the first four known zodiac constellations in ancient Mesopotamia. The Babylonians already identified this region as MUL.GIR.TAB - the 'Scorpion',
                            however the shape of the constellation varied greatly throughout the centuries (sometimes the stars of Libra and Corona Australis were attached to it as well).
                            <br>
                            The constellation had a prominent role in the Greek mythology, and several myths were associated with it. According to one version, <a href="/orion">Orion</a> threatened the goddess Artemis
                            that he would kill every animal on Earth. The insulted Artemis and her mother, Leto sent a scorpion to kill Orion. Their battle caught the attention of Zeus, who raised both combatants to the sky as constellations.
                        </p>

                </div>
                <div class="col-lg-5 mb-3">
                    <a href="/static/Scorpius.PNG" target="_blank"><img src="/static/Scorpius.PNG" class="img-fluid mt-5 ml-5" alt="Scorpius" ></a>
                    <figcaption>Chart created with Stellarium 0.18.2</figcaption>
                </div>
               </div>

            </div>
          </div>
            <div class="separator"></div>
            <div class="main-lower">
            <div class="container">
               <div class="row justify-content-center">
                <div class="col-md-10">
                  <div class="objects-title mt-5 mb-3 border-bottom">
                    <h3><b>Most notable stars and deep-sky objects</b></h3>
                </div>
                <div class="objects-text">
                    <br>
                    <h5><b>Antares<img src="/static/eye2.png" alt="eye" width="40" height="40"><img src="/static/camera.png" alt="camera" width="40" height="40"></b></h5>
                        Antares is the brightest star of the constellation, also called "Cor Scorpionis", the heart of the scorpion by the ancient Romans.
                        Distinctly reddish when viewed with the naked eye, Antares is a supergiant, one billion kilometers in diameter and with a surface brightness 11.000 times
                        bigger than that of the Sun. It is 600 light years away from Earth and is actually a binary star system. It illuminates the foreground parts of the famous Rho Ophiuchi cloud complex
                        which makes its surroundings an exciting target for astrophotographers.
                    </p>
                </div>
                <div class="objects-text">
                    <br>
                    <h5><b>M6 (Butterfly Cluster)<img src="/static/eye2.png" alt="eye" width="40" height="40"><img src="/static/binocular2.png" alt="binocular" width="30" height="30"></b></h5>
                    <p>
                        M6 (sometimes also called Butterfly Cluster) is an open cluster, which derives its name from the resemblance of its shape to a butterfly when observed though a telescope.
                        The cluster is about 1.590 light years from Earth, and contains about 120 identified members.
                    </p>
                </div>
                <div class="objects-text">
                    <br>
                    <h5><b>M7 (Ptolemy's Cluster)<img src="/static/eye2.png" alt="eye" width="40" height="40"><img src="/static/binocular2.png" alt="binocular" width="30" height="30"></b></h5>
                        M7 is a bright open cluster about 1.000 light years away. It was already known in ancient times, first recorded by the 2nd-century astronomer, Ptolemy.
                        It is easily detectable with the naked eye from under dark skies due to its brightness but it is a truly beautiful sight, when observed through binoculars.
                    </p>
                </div>
                <div class="objects-text">
                    <br>
                    <h5><b>M4 (Crab Globular Cluster)  <img src="/static/binocular2.png" alt="binocular" width="30" height="30"><img src="/static/telescope2.png" alt="telescope" width="40" height="40"></b></h5>
                        M4 is a globular cluster, one of the easiest globular clusters to find as it lies near Antares. It has about the same size as the Moon in the sky, so it can be spotted with binoculars
                        but already medium-sized telescopes will begin to resolve individual stars.
                    </p>
                </div>
                <div class="legend mb-4">
                    <br><div class="legend-title"><b>Legend: </b></div><br>
                        <table>
                            <tr>
                                <td><div class="legend-img"><img src="/static/eye2.png" alt="eye" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with the naked eye</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/binocular2.png" alt="binocular" width="20" height="20"></div></td>
                                <td><div class="legend-item">Visible with binoculars</div></td>
                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/telescope2.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Visible with telescope</div></td>

                            </tr>
                            <tr>
                                <td><div class="legend-img"><img src="/static/camera.png" alt="telescope" width="30" height="30"></div></td>
                                <td><div class="legend-item">Popular target for astrophotography</div></td>

                            </tr>
                        </table>
                    </div>
               </div>
            </div>
          </div>
{% endblock %}